@import "main_xs.css";
@media (max-width:576px){
    .aside{padding:60px 20px 0 20px;}
    .login{width:100%;padding-top:0;}
    .aside, .login{float:unset;min-height:400px;}
    .log-img, .log-body{min-height:200px;}
    .log-body{padding:81px 55px 80px;}
    .log-form input[type="text"], .login input[type="password"]{height:60px;}
}